/* set page with format A4 */
body {
  background: rgb(204,204,204);
  background: #fff;
  min-width: 700px;
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  margin-top: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  padding: 0px 20px;
  position: relative;
  font-size: 12px;
  color: #7f7f7f !important;
}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

/* header style */
header {
  padding-top: 2cm;
}
header h1 {
 display: inline-block;
 margin: 0;
 color: #45BD91;
}
/* section about style */
.identity-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.identity-job {
  text-align: center;
}
.identity-job-img {
  width: 80%;
}

.contact {
  text-align: right;
}

.contact p {
  margin-bottom: 0;
}

.contact strong {
  color: #45BD91;
}

/* section about style */
.about {
  background-color: #EE1778;
  color: #FFF;
  text-align: center;
  margin: 16px -15px;
  padding: 20px 16px;
}
.about-title {
  font-size: 2em;
}

.about-description {
  font-family: serif;
}

/* section experiences style with timeline */
.experience {
  height: 150px;
}

/* section experience style */
.experience-title,
.skills-title,
.education-title {
  color: #EE1778;
  width: 100%;
  border-bottom: 2px solid #EE1778;
  font-size: 1.9em;
}

/* ---- Timeline ---- */
.experience-timeline ol {
	position: relative;
	display: block;
	height: 3px;
	background: #7f7f7f;
  width: 100%;
  margin: 16px;
}

.experience-timeline ol::after {
  content: "";
  position: absolute;
  top: -6.5px;
	right: -10px;
	border: 8px solid transparent;
	border-left: 10px solid #7f7f7f;
}

/* ---- Timeline elements ---- */
.experience-timeline-li {
	position: relative;
	display: inline-block;
  width: 260px;
  height: 200px;
  margin-right: 10%;
}

.experience-timeline-point {
	top: -10px;
	display: block;
	background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #45BD91;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  width: 30%;
  font-family: serif;
}

.experience-timeline-description {
  display: block;
  margin-top: 20px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: serif;
  font-size: 14px;
}

.experience-timeline {
  text-align: center;
}

/* section skills with table and progressive circles */
.table-bordered,
.table-bordered td {
  border: 2px solid #cccccc;
}

td {
  padding: 10px !important;
}

.table-td-left {
  color: #45BD91;
  vertical-align: center;
  font-size: 15px;
}
.skills-ul {
  list-style: none;
  padding-left: 10px !important;
  margin: 0;
}

.skills-ul>li {
  list-style: none;
  font-size: 11px;
  color: #7f7f7f;
  font-family: serif;
}

.skills-ul li::before {
  content: "\2022";
  color: #EE1778;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
}

.half-circle {
  background: linear-gradient(to left, #cccccc 50%, #45BD91 50%);
}

.full-circle {
  background: #45BD91;
}

.empty-circle {
  background: #cccccc;
}

/* section education style */
.education-ul>li::before {
  content: "\2022";
  color: #45BD91;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.education-ul {
  padding-left: 10px;
  margin: 0;
}
.education-ul li {
  display: inline;
  margin-right: 14px;
  font-size: 11px;
  font-family: serif;
}
.education-ul>li:last-child::before {
  color: #7f7f7f;
}

.education-ul>li:nth-child(2) {
  color: #45BD91;
}

/* footer style */
footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.logo-img {
  width: 100px;
  display: flex;
  float: left;
}

.footer-informations p {
  font-size: 11px;
  margin: 0;
  font-family: serif;
}

.pagination {
  display: flex;
  float: right;
}

.pagination p {
  margin: 0;
  margin-top: -30px;
  font-family: serif;
}
